@import url(./reset.css);

#main_header {
  height: 60px;
  line-height: 60px;
  background: #1d4088;
  color: #fff;
  padding-left: 10px;
  border-bottom: 1px solid #000;
}
#main_gnb {
  background: #32394a;
  border-bottom: 1px solid #000;
  overflow: hidden;
}
#main_gnb > .left {
  float: left;
  overflow: hidden;
}
#main_gnb > .right {
  float: right;
  overflow: hidden;
}
#main_gnb > .left > li {
  float: left;
}
#main_gnb > .right > li {
  float: left
}
#main_gnb a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  border-left: 1px solid #5f6673;
  border-right: 1px solid #242a37;
}