#인천 {
  top: 60px;
  left: 190px;
}
#서울 {
  top: 75px;
  left: 235px;
}
#경기 {
  top: 115px;
  left: 260px;
}
#강원 {
  top: 70px;
  left: 330px;
}
#충북 {
  top: 145px;
  left: 315px;
}
#세종 {
  top: 160px;
  left: 270px;
}
#충남 {
  top: 170px;
  left: 225px;
}
#대전 {
  top: 205px;
  left: 285px;
}
#전북 {
  top: 238px;
  left: 240px;
}
#전남 {
  top: 305px;
  left: 210px;
}
#광주 {
  top: 292px;
  left: 260px;
}
#경북 {
  top: 175px;
  left: 370px;
}
#대구 {
  top: 225px;
  left: 345px;
}
#울산 {
  top: 245px;
  left: 395px;
}
#경남 {
  top: 265px;
  left: 320px;
}
#부산 {
  top: 290px;
  left: 370px;
}
#제주 {
  top: 385px;
  left: 175px;
}
