/* reset*/

@import url("./reset.css");

/*varialbes*/

@import url("./variable.css");

/*common*/

body {
  font-family: var(--primary-kr);
  color: var(--dark-black);
  line-height: 1.5em;
  font-size: 14px;
}

.container {
  width: 100%;
  position: relative;
}

.preloading,
.signin {
  height: 100vh;
}

.logo {
  font-family: var(--primary-br);
}

.btn-primary {
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  font-size: 18px;
  color: #fff;
}

/*main header*/

.main-header {
  height: 80px;
  background: var(--crimson);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-back {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
}

.main-header .logo {
  color: #fff;
  font-size: 26px;
}

.user-alram {
  font-size: 22px;
  color: #fff;
}

.user-alram span {
  display: inline-block;
  text-align: center;
  width: 30px;
  margin: auto;
  position: relative;
}

.user-alram span em {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  background: var(--royalblue);
  border-radius: 100%;
}

.user-alram span em::before {
  content: attr(data-count);
  font-style: normal;
  font-size: 10px;
  font-family: var(--primary-en);
  position: absolute;
  top: -20%;
  left: 28%;
}

/* gnb */

iframe {
  width: 100%;
  height: 55px;
}

.gnb {
  border-top: 1px solid var(--cloudy-gray);
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.gnb a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.gnb a i {
  font-size: 18px;
}


/* preloading */
.preloading-inner {
  height: inherit;
  background: url("../img/preloading-back.jpg") top left/cover no-repeat;
}

.heading-preloading {
  position: absolute;
  top: 180px;
  left: 30px;
}

.heading-preloading .logo {
  font-size: 32px;
  color: var(--crimson);
  margin-bottom: 30px;
}

.slogan span {
  display: block;
  font-family: var(--secondary-kr);
  font-size: 28px;
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

/*signin*/
.signin-photo {
  background: url("../img/signin-header.jpg") no-repeat;
  height: 250px;
}

.signin-header {
  text-align: center;
}

.signin-header .logo {
  tab-size: 26px;
  margin: 10px 0;
}

.signin-header p {
  font-size: 16px;
  margin-bottom: 10px;
}

.signin-field input {
  width: 100%;
  margin: 5px 0;
  padding: 10px 20px;
  border: 1px solid var(--gainsboro);
  border-radius: 30px;
}

.signin-field input:focus {
  border-color: var(--yellogreen);
  outline: none;
}

.signin-field input::placeholder {
  color: var(--silver-gray);
  transition: all 0.3s;
}

.signin-field input:focus::placeholder {
  opacity: 0;
}

.status {
  display: flex;
  justify-content: space-between;
}

.custom-chk label input[type="checkbox"] {
  display: none;
}

.custom-chk label input[type="checkbox"] + em {
  border: 2px solid #f00;
  border-radius: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translateY(4px);
  text-align: center;
  margin-right: 2px;
}

.custom-chk label input[type="checkbox"] + em::before {
  content: "";
  font-family: normal;
  color: var(--light-gray);
  position: absolute;
  width: 18px;
  font-size: 10px;
  text-align: center;
  left: -1px;
  bottom: -2px;

  /* transform: translateY(-3x);
  display: inline-block; */
}

.btn-signin {
  margin: 10px 0;
  background: var(--yellogreen);
}

.join-member {
  text-align: center;
  margin: 15px 0;
}

.join-member a {
  text-decoration: underline;
}

.easy-signin {
  text-align: center;
  margin-top: 20px;
}

.easy-signin span {
  color: var(--light-gray);
}

.social-btn {
  margin: 16px 0;
}

.social-btn a {
  margin: 2px;
}

