Button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.6s;
  cursor: pointer;
}

Button:hover {
  background: royalblue;
  color: #ddd;
}

Button:first-child {
  background: gold;
}