* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 80px;
  background: slategray;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 900px;
  align-items: center;
}

nav .logo img {
  height: 40px;
  cursor: pointer;
}

.search-box {
  color: #fff;
  font-size: 1.8rem;
}

.search-box i {
  cursor: pointer;
}

section {
  height: calc(100vh - 80px);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.modal-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  /* after */
  top: -300px;
  transition: all 0.3s;
}

.active {
  top: 0px;
}

.modal-search.active {
  top: 0;
}

.close-search {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
}

.search {
  width: 500px;
}

.search form {
  display: flex;
  position: relative;
}

.search input[type="search"],
.search input[type="submit"] {
  padding: 15px;
  border: none;
}

.search input[type="search"] {
  flex: 5;
  padding-left: 50px;
}

.search input[type="submit"] {
  flex: 1;
  background: crimson;
  color: #fff;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.3s;
}

.search input[type="submit"]:hover {
  opacity: 1;
}

.search input[type="search"]:focus {
  outline: none;
}

.search input[type="search"]::placeholder {
  font-style: italic;
  transition: all 0.3s;
}

.search input[type="search"]:focus::placeholder {
  opacity: 0;
}

.hash-tag {
  font-size: 15px;
  color: gold;
  margin-top: 10px;
  text-align: center;
  display: none;
}
