@import url(./reset.css);

body {
  background: rgb(243, 225, 225);
}

.wrap {
  height: 100vh;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap .img_card {
  width: 375px;
  height: 760px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #fff;
}

.img_card img {
  width: 375px;
  height: 478px;
}

.goods-imformation {
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 70%;
}

.goods-information-subject {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  gap: 10px;
  width: 335px;
  border-bottom: 1px solid #000;
}

.goods-information-subject p:last-child {
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
}

.goods-information-detail {
  display: flex;
  margin-top: 18px;
  gap: 6px;
}

.goods-information-detail img {
  width: 18px;
  height: 25px;
}

.goods-information-detail .goods-information-date {
  font-size: 9px;
  font-weight: lighter;
}

.goods-information-date2 {
  font-size: 5px;
}


.goods-information-detail P:first-child {
  font-size: 15px;
  font-weight: lighter;
  position: relative;
}
