.parent {
border: 5px solid green;
height: 400px;
display: flex;
flex-flow: row wrap;
align-content: center;
}


.parent div {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: #fff;
  background: crimson;
  text-align: center;

}