* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background: url("./images/bg-pc.webp") center/cover no-repeat;
}

img {
  width: 100%;
}

.title {
  text-align: center;
}

.title img {
  width: 150px;
}

.contentwrap {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
}

.contentwrap div {
  position: absolute;
}

.contentwrap div img {
  transform-origin: 50% 50%;
}


