* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #295500;
}

#result {
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.quote {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.author {
  font: italic 1.5rem/1 "arial";
  margin-left: 1rem;
}
