* {
  margin: 0;
  padding: 0;
  box-sizing: noneS;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#container {
  width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.8;
}
#top {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 30px;
}
#top li {
  margin: 20px 0;
}
#top li b {
  display: inline-block;
  width: 70px;
}
#view {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}

h2 {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}
p {
  line-height: 2;
  font-size: 0.8rem;
}

.hidden {
  width: 0;
  overflow: hidden;
}
