@import url(./reset.css);

section {
  width: 100vw;
  height: 100vh;
  background: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  width: 400px;
  flex-flow: wrap;
}

li {
  width: calc(100% / 9 - 4px);
  height: 30px;
  background: silver;
  margin: 0 2px 2px;
}
