@font-face {
  font-family: Inter;
  src: url(./font/Inter/static/);
}
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

