@media screen and (max-width: 1024px) {
  /* body {
    display: none;
  } */

  #brandPage {
    position: static;
  }

  .section01 {
    width: 1024px;
    height: 1820px;
    background: rgb(245, 226, 226);
  }
  .section01 .section01-img {
    width: 665px;
    height: 1820px;
    background: url(./img/about_etude3_img1.jpg) center/cover no-repeat;
  }
  .section02 {
    width: 1024px;
    height: 1820px;
  }
  .section02 .section02-img {
    width: 100%;
    height: 100%;
    background: url(./img/Section02_img_Desktop.png) center/cover no-repeat;
  }
  .section03 {
    width: 1024px;
    height: 1192px;
    background: rgb(245, 226, 226);
  }
  .section03 .section03-box {
    display: flex;
    width: 984px;
    height: 1042px;
    justify-content: center;
    padding-top: 150px;
  }
  .section03-box .section03-box-left,
  .section03-box-right {
    width: 492px;
    height: 1042px;
    box-sizing: content-box;
    padding-left: 3px;
    padding-right: 0px;
  }
  .section03-box-left {
    display: flex;
    width: 492px;
    height: 1042px;
    justify-content: center;
    align-items: center;
  }
  .section03-box .section03-box-left > img {
    width: 489px;
    height: 550px;
    margin: 0;
  }
  .section03-box-right .section03-imgpackage {
    width: 489px;
    height: 550px;
    margin-top: 20px;
  }
  .section03-box-right .section03-imgpackage img {
    width: 489px;
    height: 550px;
    position: static;
    margin-bottom: 60px;
  }
  .section03-text01 {
    font-size: 35px;
    padding-bottom: 20px;
    font-weight: bold;
    padding-top: 40px;
  }
  .section03-text02 {
    font-size: 14px;
    font-weight: lighter;
  }
  .section03-text02 p {
    padding-bottom: 20px;
  }
  .section03-box-right .section03-gif img {
    width: 118px;
    height: 59px;
  }
  .section04 {
    width: 1024px;
    height: 436px;
    background: rgb(245, 226, 226);
    position: relative;
  }
  .section04-img {
    width: 956px;
    height: 336px;
    /* margin-left: 34px;
    margin-top: 90px; */
    background: url(./img/about_etude_logo2023.jpg) center/cover no-repeat;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .section05 {
    width: 1024px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section05-bgbox {
    width: 1024px;
    height: 720px;
    background: url(./img/Section05.png) center/cover no-repeat;
    position: relative;
  }
  .section05-text {
    position: absolute;
    top: 40px;
    left: 24px;
  }
  .section05-text01 {
    font-size: 42px;
    font-weight: bold;
  }
  .section05-text02 {
    font-size: 18px;
    font-weight: lighter;
  }
  .section06 {
    width: 1024px;
    height: 2862.13px;
    background: rgb(245, 226, 226);
    position: static;
  }

  .section06 .section06-text {
    font-size: 18px;
    position: static;
    padding-top: 90px;
    padding-left: 20px;
    padding-bottom: 70px;
  }

  .section06 .section06-text p:first-child {
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 14px;
  }

  /* card img */

  .img-wrap {
    width: 1000px;
    height: 675px;
    overflow: hidden;
    margin-left: 20px;
    display: flex;
    gap: 20px;
  }
  .img_card {
    width: 326px;
    height: 675px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: #fff;
  }

  .img_card img {
    width: 326px;
    height: 415px;
  }

  .goods-imformation {
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 100%;
  }

  .goods-information-subject {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
    width: 280px;
    border-bottom: 1px solid #000;
  }

  .goods-information-subject p:last-child {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
  }

  .goods-information-detail {
    display: flex;
    margin-top: 18px;
    gap: 6px;
  }

  .goods-information-detail img {
    width: 18px;
    height: 25px;
  }

  .goods-information-detail .goods-information-date {
    font-size: 9px;
    font-weight: lighter;
  }

  .goods-information-date2 {
    font-size: 5px;
  }

  .goods-information-detail P:first-child {
    font-size: 13px;
    font-weight: lighter;
    position: relative;
  }

  .img_card:nth-child(1) {
    position: static;
  }
  .img_card:nth-child(2) {
    position: static;
  }
  .img_card:nth-child(3) {
    position: static;
  }
  .img_card:nth-child(4) {
    position: static;
  }
  .img_card:nth-child(5) {
    position: static;
  }
  .img_card:nth-child(6) {
    position: static;
  }

  .img-wrap02 {
    position: static;
    width: 984px;
    height: 492px;
    display: flex;
    margin-left: 20px;
    margin-top: 70px;
  }

  .img-wrap03 {
    position: static;
    width: 889px;
    height: 1257px;
    margin: 0 auto;
  }

  /* section07 */

  .section07 {
    width: 1024px;
    height: 913px;
    display: flex;
    flex-direction: column;
    background: #f6e5e5;
  }

  .section07-top {
    display: flex;
    width: 1024px;
    height: 512px;
    justify-content: center;
    align-items: center;
  }

  .section07-top-left {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 512px;
    width: 512px;
  }
  .section07-top-right {
    /* display: flex; */
    overflow: hidden;
    width: 512px;
    height: 512px;
  }

  .section07-top-right img {
    width: 100%;
    height: 100%;
  }

  .section07-tl-text {
    margin: 0 auto;
    font-size: 54px;
    font-weight: bold;
    color: #fff;
  }

  .section07-bottom {
    border: 1px solid #000;
    display: flex;
    height: 401px;
    width: 1020px;
    justify-content: center;
    margin-top: 80px;
  }
  .section07-bottom img {
    width: 380px;
    height: 161px;
  }
}
